{% extends "admin/views/base.jinja2" %}
{% block home %}
    class="active"
{% endblock %}
{% block content %}
    <div class="container">
        <form class="form-signin" role="form">
            <img src="../../static/images/tsu.png" class="img-responsive" style="margin-top: 50%; "
                 alt="Responsive image">
        </form>
    </div>
{% endblock %}