{% extends "admin/views/base.jinja2" %}
{% block password %}
    class="active"
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <form class="form-signin" role="form" action="/admin/password" method="POST">
            <h2 class="form-signin-heading"></h2>

            <div class="form-group">
                <input type="password" class="form-control" name="oldPassword" placeholder="current password" required
                       autofocus>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" name="newPassword" placeholder="new password" required
                       autofocus>
            </div>

            {% if  saved %}
                <div class=" alert alert-success" style="text-align: center">saved</div>
            {% endif %}
            {% if  errorMessage %}
                <div class=" alert alert-danger" style="text-align: center">{{ errorMessage }}</div>
            {% endif %}
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
{% endblock %}